*{
    margin: 0px;
    padding: 0px;

}
.parent{
    border: 2px solid purple;
}
.box1{
    background-color: aqua;
    position: relative;
    top: 2px;
    left: 5px;
}
.box2{
    background-color: black;
    
    position: fixed;
    top: 2px;

}
.box3{
    background-color: blue;
}
.box4{
    background-color: chartreuse;
}
.box{
    height: 80px;
    width: 500px;
    padding: 2px;
    margin: 2px;
    border: 2px solid black ;
}